<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
<header>
  <% include ../views/partials/_headers %>
</header>
<main class="container">
  <div>
  <% if (locals.user) { %>
    <h2>My URLs</h2>
  <% } %>
    <ul class="list-group list-group-flush">
      <!-- looping through object to get key/value pairs for URLs -->
      <% for (url in urls){ %>
      <li class="list-group-item ">
        <strong>Short code: </strong><a href="/u/<%= url %>" target="_blank"><%= url %></a> <span> &#8594; </span><%= urls[url].longURL %>
      <!-- button to delete unwanted URLs -->
      <a href="/urls/<%= url %>" class="btn btn-link">Edit</a>

      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
      </li>
      <% }; %>
    </ul>
  </div>
</main>
</body>
</html>